<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Pokud soubor NEexistuje
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Přesměruj na index.html
  RewriteRule . /index.html [L]
</IfModule>